.popup__infotooltip {
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  text-align: center;
  padding: 60px 36px 60px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
